@page
@model SparkAuto.Pages.Cars.IndexModel
@using SparkAuto.Utility
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<partial name="_StatusMessage" model="Model.statusMessage" />
<h1>Index</h1>

<div class="container bg-white">
    <div class="row border">
        <div class="col-6">
            <i class="fas fa-car"></i>
        </div>
        <div class="col-6 text-right">
            @if (User.IsInRole(SD.AdminEndUser))
            {
                <a asp-page="/Users/Index" class="btn btn-outline-info btn-sm">بازگشت به لیست کاربران</a>
            }
        </div>
    </div>
    <div class="card-body">
        <div class="row" style="padding-bottom:40px; padding-top:20px;">
            <div class="col-md-3">
                <p>
                    <a asp-page="Create" asp-route-userId="@Model.CarAndCustVM.UserObj.Id" class="btn btn-info form-control">
                        <i class="fas fa-plus"></i> &nbsp; اضافه کردن خودرو جدید
                    </a>
                </p>
            </div>
            <div class="col-md-6 offset-md-3">
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="CarAndCustVM.UserObj.FirstName"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="CarAndCustVM.UserObj.FirstName" disabled class="form-control"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="CarAndCustVM.UserObj.Email"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="CarAndCustVM.UserObj.Email" disabled class="form-control"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <label asp-for="CarAndCustVM.UserObj.BirthDate"></label>
                    </div>
                    <div class="col-sm-8">
                        <input asp-for="CarAndCustVM.UserObj.BirthDate" disabled class="form-control"></input>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.CarAndCustVM.Cars.Count() == 0)
{
    <label class="text-center">هیچ رکوردی برای نمایش موجود نیست</label>
}
else
{
    <table class="table">
            <tr>
                <th>
                    VIN
                </th>
                <th>
                    Make
                </th>
                <th>
                    Model
                </th>
                <th>
                    style
                </th>
                <th>
                    Year
                </th>
                <th>
                    KM
                </th>
                <th>
                    Color
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.CarAndCustVM.Cars)
            {
    <tr>
        <td>
            @Html.DisplayFor(model => item.VIN)
        </td>
        <td>
            @Html.DisplayFor(model => item.Make)
        </td>
        <td>
            @Html.DisplayFor(model => item.Model)
        </td>
        <td>
            @Html.DisplayFor(model => item.style)
        </td>
        <td>
            @Html.DisplayFor(model => item.Year)
        </td>
        <td>
            @Html.DisplayFor(model => item.KM)
        </td>
        <td>
            @Html.DisplayFor(model => item.Color)
        </td>
        <td>
            <a asp-page="../Services/History" asp-route-id="@item.Id">تاریخچه سرویس</a>
        </td>
        @if (User.IsInRole(SD.AdminEndUser))
        {
            <td>
                <a asp-page="../Services/Create" asp-route-id="@item.Id">جدید سرویس</a>
            </td>
        }
        <td>
            <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </tr>
            }
    </table>
}
